:root {
    --slider: #000;
    --input-placeholder: #999;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

a, a:hover {
    text-decoration: none;
    color: rgb(35, 31, 32);
}

#simpleModal,
a,
a:hover,
.disclaimer-btn,
.disclaimer-btn:hover,
textarea,
textarea:focus,
input,
input:focus {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

h1 {
    font-size: 3.998rem;
    font-weight: 900;
    text-align: center;
}

input, textarea {
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 40px;
    font-size: 14px;
    border-bottom: 2px solid #888;
}

textarea {
    height: 120px;
    border: 2px solid #888;
    text-align: center;
    resize: none;
    padding: 10px;
}

textarea:focus {
    border: 2px solid var(--slider);
}

input:focus {
    border-bottom: 2px solid var(--slider);
}

input::-webkit-input-placeholder {
    color: var(--input-placeholder);
    text-align: center;
}

input::-moz-placeholder {
    color: var(--input-placeholder);
    text-align: center;
}

input::-ms-input-placeholder {
    color: var(--input-placeholder);
    text-align: center;
}

.btn-center {
    float: right;
    width: 43%;
}

.btn-center#send {
    margin: 0 5% 0 2%;
}

.btn-center.go-page-home {
    margin: 0 2% 0 5%;
}

.go-page-input {
    display: none;
    width: 50%;
    margin: auto;
}

.btn-secondary {
    background-color: rgba(233, 233, 235, 0);
    border-color: rgba(33, 33, 33, 1);
    color: #333;
}

.btn-secondary:hover {
    background-color: rgba(33, 33, 33, 0.95);
    border-color: rgba(33, 33, 33, 1);
}

.btn-secondary:active {
    background-color: var(--slider) !important;
    border-color: var(--slider) !important;
}

.page-input {
    display: none;
}

.center {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 0;
}

.center-notice-modal {
    top: 0;
    z-index: -1;
}

.center-notice-modal h2#notice-msg {
    font-size: 1.2rem;
}

.center-row {
    width: 100%;
    position: absolute;
    top: 50%;
}

.center-row-input {
    height: 366px;
    margin-top: -183px;
}

.center-row-home {
    height: 146px;
    margin-top: -73px;
}

.center-row-notice {
    height: 146px;
    margin-top: -73px;
    top: 15%;
}

.center-row-alert {
    height: 100%;
    margin-top: -125px;
    top: 15%;
}

.center-row-alert>div, .center-row-alert>div>div {
    height: 100%;
}

.center-row-alert div.modal-body {
    height: 100%;
    overflow: auto;
}

.notice-modal, .alert-modal {
    display: none;
}

.notice-modal h2, .alert-modal h2 {
    text-align: center;
    width: 100%;
    margin: 0;
}

.alert-modal .modal-footer>div {
    margin: 0;
}

.alert-modal .modal-footer .btn {
    width: 100%;
}

.alert-title {
    font-weight: bold;
}

.alert-modal .modal-body>div>p {
    text-align: center;
}

.alert-link {
    word-wrap: break-word;
}

.page-input,
.page-home {
    height: 100%;
}

.page-home, .page-home>div {
    padding: 0;
}

.page-home h1 {
    background: linear-gradient(45deg, rgba(26, 26, 192, 0.8) 0%, rgba(34, 34, 187, 0.7) 33%, #FA709A 66%, #FEE140 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.header {
    width: 100%;
    height: 82px;
    z-index: 1000;
}

.header-left {
    float: left;
    width: 18%;
    height: 82px;
}

.header-left-logo {
    position: relative;
    width: 100%;
    height: 77px;
}

.header-left-logo a {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: black;
    width: 58px;
    margin-left: 24px;
}

.header-left-logo img {
    width: 100%;
}

.header-center {
    float: left;
    width: 70%;
    height: 82px;
}

.header-center h2 {
    line-height: 82px;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.header-right {
    position: relative;
    float: left;
    width: 12%;
    height: 82px;
}

.header-right .countdown-title {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #555;
    letter-spacing: 2px;
    background: linear-gradient(45deg, rgba(26, 26, 192, 0.8) 0%, rgba(34, 34, 187, 0.7) 33%, #FA709A 66%, #FEE140 100%);
    -webkit-background-clip: text;
    color: transparent;
}

ul#countdown {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    color: #333;
    border-width: 1px 0;
    overflow: hidden;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

ul#countdown li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 25%;
    font-size: 22px;
    text-align: center;
    float: left;
}

ul#countdown li .label {
    color: #adafb2;
    font-size: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer .disclaimer {
    position: relative;
    width: 100%;
    height: 100%;

}

.footer .disclaimer>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer .disclaimer>div>span {
    font-size: 12px;
    color: #787878;
}

.footer .disclaimer>div a, .footer .disclaimer>div .disclaimer-btn {
    position: relative;
    color: #666;
    cursor: pointer;
}


.footer .disclaimer>div a:hover, .footer .disclaimer>div .disclaimer-btn:hover {
    color: #000;
}

/*弹出信息*/
#confirm {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.81);
}

#confirm .confirms {
    border-radius: 5px;
    width: 100%;
    height: 90%;
    margin-top: 5%;
}

#confirm .confirms>div {
    height: 100%;
}

#confirm .confirms p {
    color: #ededed;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 23px;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

#confirm .confirms p a {
    color: #f4f4f4;
}

#confirm .confirms p a:hover {
    color: #777;
}


#confirm .confirms .gift-img {
    margin-left: 88px;
    border-radius: 60px;
    width: 120px;
}

#confirm .confirms img {
    height: 120px;
}

#confirm .confirms .logo2 {
    height: 60px;
}

#confirm .confirms p.confirm-title {
    margin: 20px 0 30px;
    text-align: center;
    color: #f4f4f4;
    font-size: 2rem;
}

#confirm .confirms p.little-title {
    font-weight: bold;
    color: #fff;
    margin: 15px 0 10px;
    text-align: center;
}

#confirm .confirms .confirm-text {
    border: 1px solid #ddd;
    height: 80%;
    padding: 15px;
    overflow: auto;
}

#confirm .confirms span.close-disclaimer,
#confirm .confirms span.sure,
#confirm .confirms span.not {
    border: 1px solid #ddd;
    margin-top: 25px;
    color: #fff;
    font-weight: normal !important;
}

#confirm .confirms span.close-disclaimer:hover,
#confirm .confirms span.sure:hover,
#confirm .confirms span.not:hover {
    background: #dedede;
    color: #111;
}

@media (min-width: 1220px) and (max-width: 1410px) {
    h1 {
        font-size: 3.45rem;
    }
}

@media (min-width: 992px) and (max-width: 1219px) {
    h1 {
        font-size: 3.5rem;
    }

    .header-center {
        display: none;
    }

    .header-right {
        width: 64%;
    }

    .offset-md-3 {
        margin: 0;
    }

    .col-md-6 {
        max-width: 100%;
    }

    #confirm .confirms .gift-img {
        margin-left: 116px;
    }

    #wind-1 {
        margin-left: 316px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3.5rem;
    }

    .header-center {
        display: none;
    }

    .header-right {
        width: 64%;
    }

    .offset-md-3 {
        margin: 0;
    }

    .col-md-6 {
        max-width: 100%;
    }

    #confirm .confirms .gift-img {
        margin-left: 40px;
    }

    #wind-1 {
        margin-left: 240px !important;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    h1 {
        font-size: 3.0rem;
    }

    .header-center {
        display: none;
    }

    .header-right {
        width: 64%;
    }

    .alert-modal .modal-footer .btn.alert-no {
        margin-bottom: 4px;
    }

    .alert-modal .modal-footer .btn.alert-yes {
        margin-top: 4px;
    }

    #confirm .confirms .gift-img {
        margin-left: 40px;
    }

    #wind-1 {
        margin-left: 240px !important;
    }
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
    h1 {
        font-size: 2.998rem;
    }

    .header-center {
        display: none;
    }

    .header-right {
        width: 64%;
    }

    .header-left-logo a {
        margin-left: 5px;
        padding: 5px 3px;
        font-size: 1.8rem;
    }

    #confirm .confirms p.confirm-title {
        margin: 40px 0 30px;
    }

    #confirm .confirms .confirm-text {
        height: 60%;
    }

    #confirm .confirms .confirm-disclaimer-text {
        height: 70%;
    }

    #confirm .confirms span.sure {
        margin-top: 15px;
    }

    #confirm .confirms span.not {
        margin-top: 25px;
    }

    #confirm .confirms span.close-disclaimer {
        margin-top: 25px;
    }

    .footer .disclaimer>div {
        width: 84%;
        transform: translate(-50%, -57%);
    }

    .footer .disclaimer>div>span {
        font-size: 12px;
    }

    .alert-modal .modal-footer .btn.alert-no {
        margin-bottom: 4px;
    }

    .alert-modal .modal-footer .btn.alert-yes {
        margin-top: 4px;
    }

    .center-alert-modal {
        height: 70%;
    }

    #confirm .confirms .gift-img {
        width: 80px;
    }

    #confirm .confirms img {
        height: 80px;
    }

    #confirm .confirms .logo2 {
        height: 40px;
    }

    .center-notice-modal {
        top: 10%;
    }

    #confirm .confirms .gift-img {
        margin-left: 20px;
    }

    .wind-img-3 {
        margin-left: 60px !important;
    }

    .wind-img-2 {
        margin-left: 69px !important;
    }

    #wind-1 {
        margin-left: 170px !important;
    }
}