@font-face {
  font-family: "iconfont"; /* Project id 3243368 */
  src: url('iconfont.woff2?t=1647704934207') format('woff2'),
       url('iconfont.woff?t=1647704934207') format('woff'),
       url('iconfont.ttf?t=1647704934207') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e6b4";
}

